@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Genos", sans-serif;
}

.app {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-image: url('./assets/painelFundo.jpg');
    background-size: contain;
    padding-top: 50px;
    margin: 0 auto;
    color: white;

}

.barraApp {
    width: 100%;
    height: 30px;
    background-color: #970000;
    position: absolute;
}

.cima {
    top: 0;
}

.baixo {
    bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: blur(20px);
}

h1 {
    margin-bottom: 40px;
}

.painelInformaçoesMacros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.painelMacros {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
}

.painelInformaçoesMacros .caixaMacros {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #351414;
    border: solid 3px #970000;
    box-shadow: 0 0 30px #970000;
    font-size: 20px;
}

.caixaMacros p:nth-child(2) {
    position: absolute;
    bottom: -24px;
    font-size: 17px;
}

.ciculoAlimento {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #351414;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px #970000;
    border: solid 5px #970000;
    backdrop-filter: blur(10px);
}


.painelOpcoes {
    position: absolute;
    width: 250px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #F60112;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #A81313, #000000);
    color: white;
    animation: aparecer 0.4s linear;
}

@keyframes aparecer {
    0% {
        top: -100px
    }

    100% {
        top: 50%
    }
}




.painelOpcoes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.painelOpcoes div:nth-child(1) {
    margin-top: 30px;
}

.painelOpcoes input {
    border-radius: 5px;
    height: 25px;
    border: none;
}

#food {
    width: 150px;
    text-align: center;
}

#volume {
    width: 60px;
    text-align: center;
}


.painelOpcoes label {
    margin-top: 20px;
}

#unidade {
    color: black;
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.botaoAdicionar {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom, #F60112, #90010B 62%);
    margin-top: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.iconsClose {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 30px;
    color: #F60112;
}


ul {
    min-width: 250px;
    height: 130px;
    border: solid 5px #970000;
    border-radius: 10px;
    box-shadow: 0 0 30px #970000;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.botaoAdd {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: solid 2px #970000;
    background-image: linear-gradient(to bottom, #F60112, #90010B 62%);
    margin-top: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}