@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Genos", sans-serif;
}

.app {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-image: url('./assets/painelFundo.jpg');
    background-size: contain;
    padding-top: 50px;
    margin: 0 auto;
}

.barraApp {
    width: 100%;
    height: 30px;
    background-color: #970000;
    position: absolute;
}

.cima {
    top: 0;
}

.baixo {
    bottom: 0;
}

h1 {
    margin-bottom: 40px;
}

.painelInformaçoesMacros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painelMacros {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
}

.painelInformaçoesMacros .caixaMacros {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #351414;
    border: solid 3px #970000;
    box-shadow: 0 0 30px #970000;
    font-size: 20px;
}

.caixaMacros p:nth-child(2) {
    position: absolute;
    bottom: -24px;
    font-size: 17px;
}

.ciculoAlimento {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #351414;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px #970000;
    border: solid 5px #970000;
    backdrop-filter: blur(10px);
}


.painelOpcoes {
   display: none;
}



 ul {
    width: 300px;
    height: 130px;
    border: solid 5px #970000;
    border-radius: 10px;
    box-shadow: 0 0 30px #970000;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}