@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Genos", sans-serif;
}

.app {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-image: url('./assets/painelFundo.jpg');
    background-size: contain;
    padding-top: 80px;
}

.barraApp {
    width: 100%;
    height: 30px;
    background-color: #970000;
    position: absolute;
}

.cima {
    top: 0;
}

.baixo {
    bottom: 0;
}

.painelInformaçoesMacros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painelMacros{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
}

.ciculoAlimento {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #351414;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px #970000;
    border: solid 5px #970000;
    backdrop-filter: blur(10px);

}

